#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.CenteredCard {
  width: 35%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%; /* Adjust margin from top as needed */
}

.logo {
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  
} 

.custom-button-homepage {
  width: 200px;
  height: auto;
  cursor: pointer; /* Pointer cursor */
  margin-right: 20px; /* Space between buttons */
  text-align: center;
  font-size: large;
  background-color: #1b4c47;
  color: #fff3e0;
  font-weight: 500;
}

.custom-button-homepage:hover {
  background-color: #fff3e0; /* Change background color on hover */
  color: #1b4c47; /* Change text color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.container {
  padding-left: 100px;
  padding-top: 150px;
}